name: CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        platform: [ubuntu-latest]
        node-version: [20, 22, 24, 25]

    runs-on: ${{ matrix.platform }}

    steps:
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Check out code
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Install dependencies
        run: npm ci

      - name: Start regtest containers
        run: npm run docker:start

      - name: Compile
        run: npm run compile

      - name: Lint
        run: npm run lint

      - name: Prettier
        run: npm run prettier:check

      - name: Forge lint
        run: forge lint

      - name: Forge fmt
        run: forge fmt --check contracts/*.sol contracts/script/ contracts/test/

      - name: Unit tests
        run: npm run test:unit

      - name: Integration tests
        run: npm run test:int

      - name: Contract tests
        run: npm run test:solidity
